body{
    font-family: Arial;
}
.pozadina{
    background-image: url( pozadina.jpg );
    height: 30px;
    width:99%;
    display: inline-block;
    font-size: 13px;
    padding: 10px;
    line-height: 30px;
    
}
.link{
    text-decoration: none;
    color: white;
}
.left{
    width: 30%;
    float: left;
    ;
    
}
.right{
    width: 20%;
    float: left;
    text-align: right;
}
.center{
    width: 50%;
    float: left;
    text-align: center;
}
.menu{
    background-color:white;
    text-align: center;
    height: 10px;
    width: 90%;
    margin-bottom: 100px;
}
.img{
    float: left;
    position: static;
}
.prvomeni{
    text-align: center;
    margin-top: 5px;
    word-spacing: 50px;
    font-size: 15px;
    

}
.vtoromeni{
    text-align: center;
    margin-top: 10px;
    word-spacing: 20px;
    font-size: 17px;

}
.tekst{
    text-decoration: none;
    color: grey;
    margin-top: 15px;
    
}
.pole{
    float: right;
    width: 250px;
    height: 30px;
    position: absolute;
    right: 0px;
}
.tekst2{
    color: rgba(37, 35, 35, 0.925);
    text-decoration: none;
    margin-top: 20px;
}
.levo{
    width: 60%;
    height: 100%;
    float: left;
    position: relative;
}
.desno{
    float: right; 

}
.img_right_top{
    position: relative;

}
.img_right_bottom{
    position: relative;
}

.images{
  width: 90%;
  height: 500px;
  margin-left: 65px;
  margin-right: 30px;
  position: absolute;
  
}
.column{
    width: 90%;
    height: 15px;
    margin-left: 40px;
    
    
}
.logos{
    width: 12%;
    float: left;
    position: relative;
    top: 550px;
    left: 70px;



}
.section{
    padding: 10px;
    padding: 10px;
}
.tekst22{
    color: red;
    text-decoration: none;
}
.kopce_levo{
    position: absolute;
    bottom: 10px;
    left: 10px;   
   
}
.kopce_desno{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.sub_menu{
    list-style: none;
}
.sub_menu ul li a{
    float: left;
    display: inline-block;
    padding: 30px;
    background-color: white;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}
.vtoromeni ul li a:hover{
    background-color: red;
}
.vtoromeni .sub_menu{
    position: absolute;
    width: 250px;
    left: 0;
    top: 60px;
    display: none;
}
.sub_menu li{
    width: 100%;
    border-bottom: 1px solid white;

}
.sub_menu li a{
    width: 100%;
    text-align: left;
    font-size: 15px;
    box-sizing: border-box;
}