body{
    font-family: Arial;
}
.pozadina{
    background-image: url( pozadina.jpg );
    height: 30px;
    width:99%;
    margin: 0;
    font-size: 13px;
    padding: 10px;
    
}
.link{
    text-decoration: none;
    color: white;
}
.left{
    text-align: left;
    margin-top: 0px;
}
.right{
    text-align: right;
    margin-top: 0px;
}
.center{
    text-align: center;
    margin-top: 0px;
}
.menu{
    background-color:white;
    text-align: center;
    height: 10px;
    width: 90%;
    margin-bottom: 100px;
}
.img{
    float: left;
    position: static;
}
.prvomeni{
    text-align: center;
    margin-top: 5px;
    word-spacing: 50px;
    font-size: 15px;
    

}
.vtoromeni{
    text-align: center;
    margin-top: 10px;
    word-spacing: 20px;
    font-size: 17px;

}
.tekst{
    text-decoration: none;
    color: grey;
    margin-top: 15px;
    
}
.pole{
    float: right;
    width: 300px;
    height: 30px;
    position: absolute;
    right: 0px;
}
.tekst2{
    color: rgba(37, 35, 35, 0.925);
    text-decoration: none;
    margin-top: 20px;
}
.levo{
    float: left;
    margin-right: 0px;
    margin-left: 60px;
}
.desno{
    float: right;
    margin-left: 0px;
    margin-right: 60px;
  
}
.desno2{
    float: right;
    margin-left: 0px;
    margin-right: 60px;
}
.images{
  margin-top: 100px;
  
}
.column{
    width: 90%;
    height: 15px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    
}
.logos{
    width: 7%;
    float: left;
    margin-left: 70px;

}
.section{
    padding: 10px;
    padding: 10px;
}
.tekst22{
    color: red;
    text-decoration: none;
}
